.navigation-container {
    position: absolute;
    width: 200px;
    top: 0;
    bottom: 0;
    background-color: burlywood;
    z-index: 0;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

li a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color: #000;
}

li a:hover {
    background-color: rgb(75, 54, 31);
    color: white;
}

form {
    margin-top: 10px;
    margin-left: 800px;
}