html {
    background-color: #F5E9B9;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

.encart-gauche-container {
    position: absolute;
    z-index:300;
    left: 0;
    top: 0;
    bottom: 0;
    right: 1000;
    background-color: burlywood;
}