<div>
    <h1 class="text-center">LA Factory</h1>

    <div class="text-center">
        <img src= "https://st2.depositphotos.com/4448255/11803/i/950/depositphotos_118032594-stock-photo-old-shabby-wooden-planks-with.jpg"
            width="500" height="70"/>
    </div>

    <div class="navigation-container">
        <nav>
            <li><a [routerLink]="['/home']">Catégories</a></li>
            <li><a [routerLink]="['/idees']">Boite à Idées</a></li>
            <li><a [routerLink]="['/premiere-page-etape']">FIRST_PAGE_ETAPE</a></li>
        </nav>
    </div>
<div>
    <form>
        <div class="form-row align-items-center">
           <select class="form-control col-sm-3" [(ngModel)]="categorie.id" [ngModelOptions]="{standalone: true}">
               <option value='1' selected>Catégories</option>
                <option *ngFor="let categorie of srvCategorie.categories" [value]="categorie.id" [text]="categorie.nom"></option>
           </select>

           <select class="form-control col-sm-3" [(ngModel)]="niveau" [ngModelOptions]="{standalone: true}">
                <option>Difficulté</option>
               <option *ngFor="let niveau of niveaux">{{niveau}}</option>
           </select>

           <input class="form-control col-sm-3" type="text" placeholder="Recherche"/>

           

           <button (click)="afficherModeles()" class="btn btn-dark col-sm-1">OK</button>
        </div>
    </form>
</div>
    <router-outlet></router-outlet>
</div>