<html>
<div>
    <div>

    </div>
    <div>
        <p>Bravo !!!!</p>
        <div>{{modele}}</div>
        <h1>{{(modele | async).nom}}</h1>
        <a href="{{(modele | async).lienVideo}}"></a>
    </div>
    <div>
        <form>
            <label>Nom : </label>
            <!--<input type="text" [(ngModel)]="appreciation.pseudo" />
            <input type="number" [(ngModel)]="appreciation.note" />
            <input type="submit" (click)="enregistrerAppreciation()" />-->
        </form>
    </div>
</div>

</html>