<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
		<form method="POST" name="formModele">
			<h1 th:if="${modele.id == 0 }">Ajouter un modele</h1>
			<h1 th:if="${modele.id != 0 }">Editer un modele</h1>
			<div>
				<div th:errors="${modele.nom}">Message d'erreur par défaut</div>
				<label for="nom">Nom du modele : </label> 
				<input type="text" name="nom" id="nom" th:value="${ modele?.nom }"/>
			</div>
			<div>
				<label for="tempsRealisation">Temps de réalisation (en minutes) : </label> 
				<input type="number" name="tempsRealisation" id="tempsRealisation" th:value="${ modele?.tempsRealisation }" />
			</div>
			<div>
				<label for="niveau">Niveau : </label>
				<select name="niveau" id="niveau">
				</select>
				<input type="text" name="nom" id="nom" class="form-control" th:value="${ modele?.nom }" />
			</div>
			<div class="form-group">
				<label for="nom">Quantité de bois nécessaire : </label> <input
					type="text" name="nom" id="nom" class="form-control"
					th:value="${ modele?.nom }" />
			</div>
			<div class="form-group">
				<label for="nom">Visible pour le visiteur : </label> <input type="text"
					name="nom" id="nom" class="form-control"
					th:value="${ modele?.nom }" />
			</div>
			<div class="form-group">
				<label for="fournisseur.id">Categorie : </label> <select
					id="fournisseur.id" name="fournisseur.id" class="form-control">
					<option value=0>--Selectionner un fournisseur--</option>
					<option th:each="fournisseur : ${ lstFournisseurs }"
						th:value="${ fournisseur.id }" th:text="${ fournisseur.societe}"
						th:selected="${ fournisseur.id == modele?.fournisseur?.id }" />
				</select>
			</div>
			<button th:if="${ modele.id == 0 }" type="submit"
				class="btn btn-outline-primary">Ajouter</button>
			<button th:if="${ modele.id != 0 }" type="submit"
				class="btn btn-outline-primary">Modifier</button>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>
	</div>
</body>
</html>