<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout.html :: layout(~{::title}, ~{::body})}">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Liste des Utilisateurs</title>
	
	</head>
	<body>
		
		<div>
			<h1>Liste des Utilisateurs</h1>
		</div>
		
		<div>
			<div>
				<a th:href="@{ajouterUtilisateur}" class="btn btn-success">Ajouter un nouvel utilisateur</a>
			</div>
			
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Nom</th>
						<th  scope="col">Prenom</th>
						<th  scope="col">Username</th>
						<th  scope="col">Role</th>
						<th  scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="utilisateur : ${ utilisateurs }">
						<td>[[${ utilisateur.nom }]]</td>
						<td>[[${ utilisateur.prenom }]]</td>
						<td>[[${ utilisateur.username }]]</td>
						<td>[[${ utilisateur.role }]]</td>
						<td>
							<div>
								<a class ="btn btn-warning" type="submit" name="editer" th:href="@{editerUtilisateur(id=${utilisateur.id})}">Editer</a>
							</div>
						</td>
						<td>
							<div>
								<a class ="btn btn-danger" type="submit" name="supprimer" th:href="@{supprimerUtilisateur(id=${utilisateur.id})}">Supprimer</a>
							</div>
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
	</body>
</html>