h1{
    text-align: center;
}

a[name="previous"]{
    left:200px;
}

a[name="next"]{
    right:200px;
}

.carousel-caption {
    color: black;
    position: relative;
    left: 250px;
    width: 1250px;
    text-align: left;
    
}


.carousel-inner img {
    width: 350px;
    height: auto;
    position: relative;
    left: 650px;
}